// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.col-sm{
    text-align: center;
    border: black 2px solid;
}

.img-center{
  text-align: center;
}
  
#imagen{
  width: 150px;
  height: 200px;
}
